/* Used colors from https://www.w3schools.com/css/css_colors.asp to give color to the heading and text alignment from https://www.w3schools.com/css/css_text_align.asp to align the text */
h1 {
	color: black;
	text-align: center;
}
/* Used background-color from https://www.w3schools.com/css/css_background.asp to give background color to the website.*/
body {
	background-color: lightskyblue;
}
/* Used margins from https://www.w3schools.com/css/css_margin.asp to give spacing on outer side and used font family from https://www.w3schools.com/css/css_font.asp for the body. */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* Used overflow property from https://www.w3schools.com/css/css_overflow.asp to controls what happens to content that is too big to fit into an area.*/
.topnav {
  overflow: hidden;
  background-color: #333;
}
/* Used float from https://www.w3schools.com/css/css_float.asp to either put it on left or right side and Used padding from https://www.w3schools.com/css/css_padding.asp to give space inside the border */
/* Used text decoration from https://www.w3schools.com/css/css_text_decoration.asp to set or remove decorations from text and Used font size from https://www.w3schools.com/css/css_font_size.asp to set the size of the text.*/
.topnav a {
  float: left;
  margin-left: 180px;
  color: #f2f2f2;
  text-align: left;
  padding: 20px 60px;
  text-decoration: none;
  font-size: 17px;
}
/* Used active feature from https://www.w3schools.com/css/css_navbar_horizontal.asp to highlight the current tab on the website. */
.active {
	background-color: coral;
	padding: 10px;
}
/* Used hover feature from https://www.w3schools.com/css/css_navbar_horizontal.asp to highlight whenever cursor hovers over it on the website. */
.topnav a:hover {
  background-color: coral;
  color: black;
}
/* Used border from https://www.w3schools.com/css/css_border.asp to give a solid border around the paragraph to make it look nicer and separate from other things. */
.para {
	border: 3.5px solid black;
	margin-left: 545px;
	margin-right: 445px;
	text-align: center;
	background-color: white;
	padding: 10px;
}	
/* Below styling is for the paragraph 3 for main page. */
.p3 {
	border: 3.5px solid black;
	margin-left: 545px;
	margin-right: 445px;
	margin-bottom: 22px;
	background-color: white;
	text-align: center;
	padding: 10px;
}
.grid {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    display: flex;
}
.gridcontent {
    text-align: center;
    flex: 100%;
	border: 3.5px solid black;
	background-color: white;
	margin-right: 10px;
}

* {box-sizing:border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Below styling is for a box used in 2nd page of about*/
.box {
	border: 3.5px solid black;
	margin-top: 50px;
	margin-left: 70px;
	margin-right: 680px;
	text-align: left;
	background-color: white;
	padding: 10px;
}
/* Below styling is used for about me*/
.me {
	margin-right: 100px;
	margin-top: 30px;
}
/* Below stlying is used for image in model-1 website. */
.bee {
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	font-size: 20px;
	background-color: gold;
	padding: 10px;
	border: 3.5px solid black;
}
/* Used table format from https://www.w3schools.com/css/css_table.asp to create tables and add data to it. */
table {
	width: 30%;
	margin-top: 15px;
	margin-left: 595px;
}
/* Used table format from https://www.w3schools.com/css/css_table.asp to create tables and add data to it. */
th, caption {
	text-align: center;
	margin-bottom: 10px;
	border: 3.5px solid black;
	padding: 5px;
	font-size: 16px;
	background-color: white;
}
/* Used table format from https://www.w3schools.com/css/css_table.asp to create tables and add data to it. */
table, th, td {
    border: 3.5px solid black;
    border-collapse: collapse;
	background-color: white;
}
/* Below stlying is used for image in model-2 website. */
.prime {
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	font-size: 20px;
	background-color: steelblue;
	color: white;
	padding: 10px;
	border: 3.5px solid black;
}
/* Below stlying is used for image in model-2 website. */
.gun {
	margin-top: 20px;
}
/* Below stlying is used for figure in model-2 website. */
.figures {
	margin-top: 15px;
	margin-left: 595px;
	margin-right: 445px;
	text-align: center;
	font-size: 15px;
	background-color: steelblue;
	padding: 1px;
	color: white;
	border: 3.5px solid black;
}
.Disclaimer {
    color: white;
    flex:60%;
    font-size: 15px;
    background-color: #333;
    text-align: center;
}
footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(3, 3, 3);
}
@media (max-width: 600px) {footer {flex-direction:column;
}}
.images {
    margin-top: 8px;
	padding-left: 10px;
    width:3em;
    height:2.5em;
    float: left;
    background-color:#333;
}
.position {
    flex:40%;
	padding-top: 10px;
    line-height: 20px;
    background-color:#333
}